body, html {
	width: 100%;
	height: 100%;

	background-color: #0047AB;
	color: #EBEBEB;
}

h1 {
	font-size: 40px;
	font-weight: 300;
	margin: 10px 0;
}

label {
	width: 20%;
	font-size: 18px;
}

input {
	width: 70%;
	float: right;
	background-color: transparent;
	border: none;
	border-bottom: solid 1px #009DAB;
}

.field {
	font-family: 'Roboto';
	line-height: 30px;
}

.field .normal {
	width: 100%;
}

.field .sm {
	width: 50%;
	display:inline-block;
}

.field .md label {
	width: 100%;
}

.field .md input {
	width: 100%;
}

button {
	border:none;
	border-radius: 2px;
	text-decoration: none;
	text-transform: uppercase;
	
	font-family: 'Roboto';
	font-weight: 300; 
	font-size: 16px;

	color: #0047AB;
	background-color: #EBEBEB;

	padding: 10px 30px;
	margin-top: 20px;
}

.personal-container {
	width: 90%;
	margin:auto;
}

@media only screen and (min-width: 600px) {
}